body{
	background-color: black;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 20%
}
img{ width="200" height="200"}
h3{
	text-decoration: line-through;
	font-size: 150%;
	background-color: blue;
}